html
{
}

body {
  margin:0;
  padding:0;
  display: flex;
  flex-direction:column;
  overflow: hidden;
  height:100vh;
  font-family: 'Gloria Hallelujah', cursive;
   

  /*fond ecran*/
  background-image: url("img/ide/background.jpg");
  background-color:grey;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:cover;
    }



header
{
	display:flex;
	flex-direction:column;
	flex-grow:1;
	align-items:center;
}

footer
{
display:flex;
flex-direction:row;
flex-grow:1;
}

footer p
{
	display:flex;
	flex-grow:1;
	align-items:flex-end;
	color:white;
	font-size:0.6em;
	margin:2px;
}

footer a
{
margin:5px;
margin-bottom:0;
}

h1
{
  color:white;
  font-size:2.6em; 
}

h1,h2,p
{
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Be Vietnam', sans-serif;
}

nav
{	
	display:flex;
	flex-direction:row;
    background: rgba(127, 124, 124, 0.5);

}

nav ul
{
	display:flex;
	flex-direction:row;
	width:100vw;
	justify-content:stretch;
	margin:0;
	padding:0;
}

nav li
{
	display:flex;
	justify-content:center;
	flex-grow:1;
	font-size:1.3em;
	padding:5px;

	border: 1px dotted;
}

a 
{
	text-decoration:none;
	color:white;
}

a:hover 
{
	text-decoration:none;
	color:gold;
}


main
{
  display:flex;
  width:100vw;
  flex-direction:column;
  flex-grow:8;
  align-items:center;
  align-content:center;
  text-align: center;
  justify-items:center;
  overflow-y: auto;
 }

  article
  {
     background: rgba(127, 124, 124, 0.8);
	 width:80vw;
	 border-radius: 8px;
	 padding:15px;
	 text-align:justify;
  }
